* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	font: 12px/18px Arial, sans-serif;
	width: 100%;
	background: url(images/fon.jpg) no-repeat center center fixed;
	background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
}

.header {
	height: 380px;
	background-image: url(images/roof11.png);
	background-position: center;
	background-repeat: no-repeat;
}

.wrapper {
	width: 1070px;
	left: 50%;
	margin-top: -3px;
	margin-left: -533px;
	min-height: 100%;
	background-image: url(images/pic1.jpg);
	background-repeat: repeat-y;	
	position: absolute;
}

.device-div {
	float: left;
    margin: 3px;
	margin-top:10px;
    padding: 3px;
	width: 250px;
	background-color: #F8F8FF;
	border-radius:10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.5);
    border-bottom: 3px solid rgba(0,0,0,0.5);	
	font-family: Helvetica, arial, serif;
    color:#000000;
    font-size:13px;
 
    box-shadow: 
        0 2px 8px rgba(0,0,0,0.5), /* ¬нешн€€ тень */
        inset 0 1px rgba(255,255,255,0.3), /* ¬ерхн€€ светла€ лини€ */
        inset 0 10px rgba(255,255,255,0.2), /* ¬ерхн€€ светла€ тень */
        inset 0 10px 20px rgba(255,255,255,0.25), /* тень сторон */
        inset 0 -15px 30px rgba(0,0,0,0.3); /* темный фон */
 
    -webkit-box-shadow: 
        0 2px 8px rgba(0,0,0,0.5),
        inset 0 1px rgba(255,255,255,0.3),
        inset 0 10px rgba(255,255,255,0.2),
        inset 0 10px 20px rgba(255,255,255,0.25),
        inset 0 -15px 30px rgba(0,0,0,0.3);
 
    -moz-box-shadow:
        0 2px 8px rgba(0,0,0,0.5),
        inset 0 1px rgba(255,255,255,0.3),
        inset 0 10px rgba(255,255,255,0.2),
        inset 0 10px 20px rgba(255,255,255,0.25),
        inset 0 -15px 30px rgba(0,0,0,0.3);
}

#dropDownDevicesList{
	width: 300px;
    height: 45px;
    padding: 10px 5px;
    border: 1px solid #ccc;   
	border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
    font: bold 16px 'lucida sans', 'trebuchet MS', 'Tahoma';
    box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
        -moz-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
        -webkit-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
}		

input[type="submit"] { 
  background: #e3e3e3;  
  border: 1px solid #bbb;   
  color: #333;  
  font-family: "helvetica neue", helvetica, arial, sans-serif;  
  font-size: 12px;  
  font-weight: bold;   
  padding: 8px 0 9px;  
  text-align: center;  
  text-shadow: 0 1px 0 #fff;  
  width: 80px;  
}

input[type="submit"], input[type="text"] {
    border-radius: 100%;
        -moz-border-radius: 100%;
        -webkit-border-radius: 100%;
}

input[type="submit"]:hover {  
  background: #d9d9d9;  
  color: #222;   
}  

input[type="submit"]:active {  
  background: #d0d0d0;  
      -moz-box-shadow: inset 0 0 1px 1px #e3e3e3;  
      -webkit-box-shadow: inset 0 0 1px 1px #e3e3e3;  
  box-shadow: inset 0 0 1px 1px #e3e3e3;  
  color: #000;  
}

input[class="Del"], #addDevicesButton {
	background: #636269; 
    font-size: 15px;  
	padding: 10px;
    border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
	box-shadow: 0px 1px 3px; 
	position: relative;
	transition: all 500ms ease-out;
	color: rgba(0,0,0,0.6);
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
}

input[class="Del"]:hover {
	box-shadow: 0px 0px 0px 2px #f90914,
		0px 0px 0px 7px #7B74A1,
		0px 0px 0px 9px #f90914,
		0px 0px 5px 10px #ff4d00;
}

#addDevicesButton{
	width: 100px;
	margin-left: 10px;
}

#addDevicesButton:hover {  
	background: #d9d9d9;  
    color: #222;
	box-shadow: 0px 0px 0px 2px #0AFA0E,
		0px 0px 0px 7px #7B74A1,
		0px 0px 0px 9px #47DE10,
		0px 0px 5px 10px #EAFF00;   
} 

.device-label {
	text-align: justify;
	font-weight: 500;
}	

.error {
	width: 240px;
	color: #f90914;
}

#list {
	margin-left: 5px;
	list-style:none;
}

#list, .device-label{
	font-family: Comic Sans, Comic Sans MS, cursive;
}


