@model String []

<!DOCTYPE html>

<html>
<head>
</head>
<body>
    <div class="list">
        <H1>Список каналов:</H1>
        @if (Model != null)
        {
            foreach (var chan in Model)
            {
                <H2>@chan</H2>
            }
        }
        <br />
        @Html.ActionLink("Назад", "GoBack", new { }, new { @class = "Del" })<br />
    </div>
</body>
</html>
